 <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to employee_dashboard_path, class: "nav-link active", 'aria-current': "page" do %>
          <span data-feather="home"></span>
          Dashboard
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to employee_leave_applications_path, class: "nav-link" do %>
          <span data-feather="file"></span>
          Leave Application
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="shopping-cart"></span>
          Comp Off
        </a>
      </li>
      <li class="nav-item">
        <%= link_to employee_profile_path, class: "nav-link" do %>
          <span data-feather="file"></span>
          Profile
        <% end %>
      </li>
    </ul>
  </div>
</nav>
