<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">AI Employee Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse main-nav navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item text-end">
          <% if employee_signed_in? %>
            <%= link_to 'Sign Out', destroy_employee_session_path, data: { turbo_method: :delete }, class: 'nav-link text-white' %>
          <% else %>
            <%= link_to 'Sign In', employee_session_path, class: 'nav-link text-white' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  </div>
</nav>
