<h1>Editing leave application</h1>

<%= render "form", leave_application: @leave_application %>

<br>

<div>
  <%= link_to "Show this leave application", @leave_application %> |
  <%= link_to "Back to leave applications", leave_applications_path %>
</div>
