<div class="row mt-5">
  <div class="col-md-3">
    <div class="card shadow">
      <div class="card-body text-center">
        <h3>Leave Type</h3>
        <h2><%= LeaveType.count %></h2>
      </div>
    </div>  
  </div>
  <div class="col-md-3">
    <div class="card shadow">
      <div class="card-body text-center">
        <h3>Leave Application</h3>
        <h2><%= current_employee.leave_applications.count %></h2>
      </div>
    </div> 
  </div>
</div>
