<!-- BREADCRUMB -->
<!-- <div class="page-meta">
  <nav class="breadcrumb-style-one" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">App</a></li>
      <li class="breadcrumb-item"><a href="#">Blog</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
  </nav>
</div> -->
<!-- /BREADCRUMB -->
<div class="row layout-top-spacing">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-card-four">
      <div class="widget-content">
        <div class="w-header">
          <div class="w-info">
            <h6 class="value">Leave Application</h6>
          </div>
        </div>
        <div class="w-content">
          <div class="w-info">
            <p class="value"><%= @leave_applications.count %></p>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-card-four">
      <div class="widget-content">
        <div class="w-header">
          <div class="w-info">
            <h6 class="value">Pending Leaves</h6>
          </div>
        </div>
        <div class="w-content">
          <div class="w-info">
            <p class="value"><%= @leave_applications.pending_leaves.count %></p>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-card-four">
      <div class="widget-content">
        <div class="w-header">
          <div class="w-info">
            <h6 class="value">Approved Leaves</h6>
          </div>
        </div>
        <div class="w-content">
          <div class="w-info">
            <p class="value"><%= @leave_applications.approved_leaves.count %></p>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-card-four">
      <div class="widget-content">
        <div class="w-header">
          <div class="w-info">
            <h6 class="value">Rejected Leaves</h6>
          </div>
        </div>
        <div class="w-content">
          <div class="w-info">
            <p class="value"><%= @leave_applications.rejected_leaves.count %></p>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
