.btn-pending, .btn-pending:hover {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-approved, .btn-approved:hover {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn-rejected, .btn-rejected:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
