<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to 'AI-Admin', employee_dashboard_path, class: "navbar-brand col-md-3 col-lg-2 me-0 px-3" %>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <%= link_to 'Sign out', destroy_employee_session_path, class: 'nav-link px-3', data: { turbo_method: :delete } %>
    </div>
  </div>
</header>
